<div class="card m-3 text-bg-dark" style="width: 300px;">

    <div class="card-img-top">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="border-radius: 5px 5px 0px 0px;">
                <!--for imagenes-->
                <div *ngFor="let imagen of rocket.flickr_images" class=" carousel-item active" data-bs-interval="3000">
                    <img src={{imagen}} class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <h5 class="card-title">#{{rocket.id}} :{{rocket.name}}</h5>
        <p class="card-text">altura: {{rocket.height}}</p>
        <p class="card-text">{{rocket.country}}</p>
        <p class="card-text">{{rocket.description}}</p>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-outline-danger" (click)="eliminar()">eliminar</button>
            </div>
            <div class="col text-center">
                <!--<button class="btn btn-outline-success">actualizar</button>-->
                <!--<a [routerLink]="['/update', {{rocket.id}}, '{{rocket.name}}', '{{rocket.height}}', '{{rocket.pais}}', '{{rocket.description}}', '{{rocket.flickr_images[0]}}', '{{rocket.flickr_images[1]}}', '{{rocket.flickr_images[2]}}']" class="btn btn-outline-success">actualizar</a>-->
                <!--<a routerLink="/update/'{{rocket.id}}'/'{{rocket.name}}'/'{{rocket.height}}'/'{{rocket.pais}}'/'{{rocket.description}}'/'{{rocket.flickr_images[0]}}'/'{{rocket.flickr_images[1]}}'/'{{rocket.flickr_images[2]}}'">Seat Ibiza</a>-->
                <a routerLink="/update/'{{rocket.id}}'" class="btn btn-outline-success">Actualizar</a>
            </div>
        </div>
    </div>
</div>